@import "../Base Style/main.scss";

.btn-holder {
	display: flex;
	align-items: center;
	justify-content: center;

	@include media ('>=tablet') {
		width: 300px;
	}
}

.btn {
	background-color: transparent;
	border: none;
	outline: none;
	display: inline-block;
}

.add {
	color: green;
}

.remove {
	color: red;
}